#app{
    background-color: lightgray;
}

.profilepic{
    width: 60px
}

figure{
    height:10px;
}

.data{
    font-size: 10px;
}

.dashboard{
    height: 90%;
    background-image: url(./img/background-wa.png);
}

.container-fluid{
    height: 90%;
}